@font-face {
	font-family: "textos" ;
	src: url(../Fonts/Orchard\ Song\ Free\ Trial.otf);
}
@font-face {
    font-family: "titulos";
    src: url(../Fonts/Fragmentcore.otf);
}
 *{
    padding: 0;
    box-sizing: border-box;
 }

 html{
    font-size: 1rem;
    height: 100%;
 }

body, header, main, footer{
    border: 3px gray solid;
    min-height: 50px;
    background-color: rgb(142, 139, 102);
    font-family: "titulos";
    margin:0,5rem;
    min-width: 400px;  
}

header{
    background-color: black;
}
.btn{
	align-items: center;
	font-size: 10px;
	color: rgb(44, 12, 148);
}

main{
    min-height: 200px;
    background-color: antiquewhite;
}
